@import "tailwindcss";

:root {
  --rose-two: #ffc8dd;
  --rose-one: #ffafcc;
  --blue-two: #bde0fe;
  --blue-one: #a2d2ff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  background-color: var(--blue-one);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 20px;
}

.header ul li{
  list-style: none;
  text-decoration: none !important;
}

.header a{
  text-decoration: none !important;
}